.keycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 60vh; */
    border: 7px solid black;
    padding: 40px;
    max-width: 500px;
}

.doorinfo {
    padding: 10px;
    font-size: 25px;
    font-weight: 600;   
}

.passinfo1 {
    padding: 10px;
    font-size: 25px;
    font-weight: 600;   
}

.password {
    border: 3px solid rgba(0, 0, 0, .9);
    padding-top: 3px;
    padding-left: 50px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
}

.roombutton {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    /* border: 2px solid black; */
    padding: 10px 20px;
    margin: 10px;
    margin-left: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 1.2px;
}

.roombutton:hover {
    background-color: white;
    color: black;
}