.room-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 60vh; */
  border: 7px solid black;
  padding: 40px;
  max-width: 500px;
}
  
.home-button {
  background-color: rgba(0, 0, 0, .9);
  color: white;
  /* border: 2px solid black; */
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 1.2px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
  gap: 10px;
  margin-bottom: 20px;
  border: 3px solid rgba(0, 0, 0, .9);
  padding: 10px;
}

.calendar button {
  padding: 10px;
  border: 1px solid #ccc;
}

.st {
  font-size: 2em; 
  font-weight: 700; 
}

.select {
  margin-bottom: 20px;
  padding: 5px;
  border: 4px solid black;
  width: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.allselects {
  padding-top: 30px;
  justify-content: center;
}

.selectinfo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-right: 20px;
}

.selectsug1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-right: 10px;
}

.selectsug2 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-right: 125px;
}

.selectsug3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-right: 95px;
}

.minicontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.booked-date {
  background-color: white;
  color: black;
  cursor: not-allowed;
  height: 45px;
}

.available-date {
  background-color: rgba(0, 0, 0, .9);
  color: white;
  /* padding: 10px 10px;
  margin: 10px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 1.2px;
}

.available-date:hover {
  background-color: white;
  color: black;
}

.selectdayinfo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.selectryminfo {
  font-size: 20px;
  font-weight: 600;
}

.rym {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selectspan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* コンテナの幅を設定 */
  max-width: 400px; 
}

.spaninfo {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
}

.bookspan-input {
  margin-right: 60px;
  margin-bottom: 0px;
  padding: 5px;
  border: 3px solid black;
  width: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.lack {
  background-color: white;
  color: rgba(0, 0, 0, .9);
  /* border: 2px solid black; */
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 1.2px;
}

.partyname {
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 3px;
  width: 200px;
  border: 3px solid black;
}

.partyinfo {
  padding-top: 6px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
}
  